* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 450px;
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box {
    background-color: white;
    border: 2px solid gray;
    height: 350px;
    width: 600px;
    margin: 25px;;
    position: absolute;
    font-family: cursive;
    
}


.circle {
    background-color: white;
    border: 1px solid black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: fixed;
    margin-left: 25px;
    margin-top: 50px;    
}

img {
    height: 100px;
}

.top-nav {
    background-color: #28A2B8;
    height: 100px;
}

#dev-name {
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 0;
    width: 200px;
    font-size: 30px;
}

#dev-location {
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 0;
    width: 200px;
}

#dev-location img {
    height: 20px;
    margin-right: 5px;
}

#dev-work {
    margin-top: 5px;
    margin-left: 30px;
    width: 250px;
}

.edit-profile {
    height: 50px;
    width: 200px;
    margin-left: 30px;
}

.edit-profile img {
    height: 25px;
    margin-right: 10px;
}

